nav{
	background-color: #B57EDC;
	padding: 5px;
  }
  
  nav ul{
	list-style-type: none;
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
  }
  
  nav a{
	color: #311432;
  }
  
  @media (max-width: 768px){
	nav ul{
	  display: block;
	}
	nav li{
	  margin: auto;
	  padding: 10px;
	  text-align: center;
	}
	
  }



.project-photos{
	width: 25%;
	height: auto;
}

a{
	color: #B57EDC;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

h1{
	color: #311432;
	font-family: Helvetica, Arial, sans-serif;
}

h2{
	color: #4c0121;
	font-family: Helvetica, Arial, sans-serif;
}

h3{
	color: #663046;
	font-family: Helvetica, Arial, sans-serif;
}

p{
	font-family: Helvetica, Arial, sans-serif;
}

#home-link{
	display: inline-block;
	background: #4c0121;
	padding: 10px 15px;
	border: 5px solid #311432;
	border-radius: 5px;
}

@media (prefers-color-scheme: dark){
	html{
		background-color: black;
		color: white;
	}
	h1{
		color: #B57EDC
	}
	h2{
		color: #B57EDC
	}
	h3{
		color: #B57EDC
	}
}
