.project-photos{
	max-width: 75%;
	height: auto;
}

a{
	color: #B57EDC;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

h1{
	color: #311432;
	font-family: Helvetica, Arial, sans-serif;
}

h2{
	color: #4c0121;
	font-family: Helvetica, Arial, sans-serif;
}

h3{
	color: #663046;
	font-family: Helvetica, Arial, sans-serif;
}

p{
	font-family: Helvetica, Arial, sans-serif;
}
.icon-large{
	font-size: 24px;
}

@media (prefers-color-scheme: dark){
	html{
		background-color: black;
		color: white;
	}
	h1{
		color: #B57EDC
	}
	h2{
		color: #B57EDC
	}
	h3{
		color: #B57EDC
	}
}