.img-fluid{
	max-width: 50%;
	height: auto;
}

a{
	color: #782FAC;
	font-weight: bold;
	text-decoration: underline;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, p, ul, button, iframe, img, div, form {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0px 20px;
}

h1{
	color: #311432;
	font-family: Helvetica, Arial, sans-serif;
}

h2{
	color: #4c0121;
	font-family: Helvetica, Arial, sans-serif;
}

h3{
	color: #663046;
	font-family: Helvetica, Arial, sans-serif;
}

p{
	font-family: Helvetica, Arial, sans-serif;
}

.icon-large{
	font-size: 24px;
}

.breadcrumb{
	color: #782FAC;
}

.carousel-inner img {
	margin: auto;
}

.navbar, .navbar-expand-lg, .navbar-light {
	padding: 0px 0px;
}

@media (prefers-color-scheme: dark){
	html{
		background-color: black;
		color: white;
	}
	h1{
		color: #B57EDC
	}
	h2{
		color: #B57EDC
	}
	h3{
		color: #B57EDC
	}
}